body {
  background-color: #fffefc;
}
.nav-place-zone {
  width: 100%;
  height: 120px;
}
.footer-zone {
  background-color: #004a13;
  width: 100%;
  height: 180px;
}
/* 上面以後套通用元件 替代品 */
/* 溫度計套入 */

.thermometer_container {
  margin: 0 auto;
  width: 900px;
}

.thermometer_wrap {
  height: 20px;
  position: relative;
}

.thermometer {
  position: absolute;
  height: 100%;
  left: 0;
}
.thermometer_line {
  width: 100%;
  height: 10px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  padding: 1.6px;
}
.thermometer_move {
  height: 100%;
  width: 100%;
  background-color: #f2a200;
  border-radius: 5px;
  transition: 0.5s;
}
.order_step_title {
  margin-top: 30px;
  margin-left: 10px;
}
.order_step_title p {
  color: #333333;
  font-size: 20px;
  margin-bottom: 0;
}
.order_step_title p:last-child {
  font-weight: bold;
}
.order_step_number {
  margin-bottom: 40px;
  margin-left: 10px;
}
.order_step_number p {
  color: #333333;
  font-size: 24px;
}
.order_step_number p:last-child {
  color: #f2a200;
}

/* 溫度計 */
.need-bck-img {
  background: url(./img/background-img/finish-order.png) no-repeat;

  background-size: cover;
  background-position: bottom;
}

.order-background {
  border-radius: 4px;
  background-color: #fdebca;
}

.finish-order-info {
  padding: 55px 0;
}
.finish-order-info p {
  color: #333333;
}
.finish-order-info h5 {
  /* font-size: 28px; */
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
  color: #333333;
}
/* animation */

.circle {
  stroke-dasharray: 151;
  stroke-dashoffset: 151;
  animation-delay: 1s;
}

.active {
  animation: circle 1s ease;
  animation-fill-mode: forwards;
}
@keyframes circle {
  form {
    stroke-dashoffset: 151;
  }

  to {
    stroke-dashoffset: 0;
  }
}

/* button */
.btn-leave {
  width: 130px;
  line-height: 40px;
  color: #004a13;
  border: 1px solid #004a13;
  margin: 60px 20px 120px 20px;
  transition: 0.5s;
}
.btn-leave:hover {
  opacity: 0.6;
  color: #004a13;
}
.hope-next-step {
  background-color: #004a13;
  color: #fffefc;
}
.hope-next-step:hover {
  color: #fffefc;
}
@media (max-width: 576px) {
  /* 溫度計 */
  .order_step_title {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  #order_s_1,
  #order_s_2,
  #order_s_3 {
    display: none;
  }
  .order_step_number p {
    font-size: 16px;
  }
  .thermometer_container {
    margin: 0 auto;
    width: 300px;
  }
  /* 溫度計 */
  .need-bck-img {
    background: #fffefc;
  }
  .finish-order-info {
    padding: 32px 0;
  }
  .finish-order-info p {
    font-size: 16px;
  }

  .btn-leave {
    width: 130px;
    line-height: 40px;

    margin: 60px 10px;
  }
}
