.nav-place-zone {
  width: 100%;
  height: 100px;
}
/* 上面以後套通用元件 替代品 */
/* 溫度計套入 */

.thermometer_container {
  margin: 0 auto;
  width: 900px;
}

.thermometer_wrap {
  height: 20px;
  position: relative;
}

.thermometer {
  position: absolute;
  height: 100%;
  left: 0;
}
.thermometer_line {
  width: 100%;
  height: 10px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  padding: 1.6px;
}
.thermometer_move {
  height: 100%;
  width: 50%;
  background-color: #f2a200;
  border-radius: 5px;
  transition: 0.5s;
}
.order_step_title {
  margin-top: 30px;
  margin-left: 10px;
}
.order_step_title p {
  color: #333333;
  font-size: 20px;
  margin-bottom: 0;
}
.order_step_title #order_s_3 {
  font-weight: bold;
}
.order_step_number {
  margin-bottom: 40px;
  margin-left: 10px;
}
.order_step_number p {
  color: #333333;
  font-size: 24px;
}
.order_step_number #order_n_3 {
  color: #f2a200;
}
/* 溫度計 */
.form-control4 {
  border: 1px solid #333;
  border-radius: 4px;
  height: 32px;
  width: 72%;
}
.form-control9 {
  border: 1px solid #333;
  border-radius: 4px;
  height: 96px;
  width: 95%;
}

.form-control7 {
  border: 1px solid #333;
  border-radius: 4px;
  height: 32px;
  width: 55%;
  margin-right: 18px;
}
.form-control6 {
  border: 1px solid #333;
  border-radius: 4px;
  height: 32px;
  width: 95%;
}
.control-his-position {
  width: 18%;
  color: #f2a200;
  text-decoration: 1px solid #f2a200;
}
.change-color-yel span {
  color: #f2a200;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.5s;
}
/* color */
.form-group label {
  color: #333;
}
.form-group select {
  color: #333;
}
.which-need-border-bottom label {
  color: #333;
}
/* table */
.m_product_detail {
  color: #333;
}
.m_product_detail p {
  color: #333;
}
.howmuch-you-need-pay th {
  color: #333;
}
.howmuch-you-need-pay td {
  color: #333;
}
.which-need-border-bottom h6 {
  color: #004a13;
}
/* color */
.i-need-padding {
  padding: 0 30px;
  padding-right: 52px;
}
.change-his-padding-in-mobile {
  padding: 0 60px 0 22px;
}
.this-one-pc-none {
  display: none;
}
/* 商品明細 */
.order-detail1 {
  padding-right: 30px;
}
/* open-order-list */
.order_img_wrap {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin-right: 20px;
}
.p_title {
  font-weight: 500;
  margin-bottom: 10px;
}
.p_detail {
  font-size: 0.8em;
  line-height: 20px;
  margin-bottom: 0px;
}
.product-left {
  width: 100%;
}

.count_price {
  width: 35%;
}
.btn-wrap {
  margin-top: 30px;
}

.order_history_detail_btn {
  margin-bottom: 0;
}
/* addclass */
.hide {
  display: none;
}
/* 細節打開按鈕啦 */
.order_history_detail_btn {
  cursor: pointer;
  margin: 15px 0;
  transition: 0.5s;
}
/* toggle */
.change-margin-top {
  margin-top: 0px;
}
/* toggle */
.order_history_detail_btn p,
.order_history_detail_btn img {
  transition: 0.3s;
}
.order_history_detail_btn:hover p,
.order_history_detail_btn:hover img {
  opacity: 0.6;
}
.order_history_detail_btn p {
  font-weight: 500;
  color: #f2a200;
  margin-left: 5px;
}
.order_history_detail_btn img {
  width: 20px;
}
/* open-order-list */
/* jq */
.i-need-w-and-fix {
  transition: 0.5s;
}
.i-need-w-and-fix-w-part {
  width: 335px;
}
/* jq */
.howmuch-you-need-pay tbody tr:last-child {
  visibility: hidden;
}
.dividerline-in-table {
  width: 100%;
  height: 0.1px;
  border: solid 1px #004a13;
  border-radius: 1px;
  background-color: #004a13;
}
/* 置中 */
input::-ms-input-placeholder {
  text-align: center;
}
input::-webkit-input-placeholder {
  text-align: center;
}
.which-need-border-bottom {
  margin-bottom: 12px;
  border-bottom: 2px solid #004a13;
  border-radius: 1px;
}

.howmuch-you-need-pay {
  width: 90%;
  border-radius: 4px;
  border: 1px solid #333;
}
.howmuch-you-need-pay tr {
  text-align: center;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}
.howmuch-you-need-pay tr th {
  width: 30%;
  font-weight: 400;
  border-right: 1px solid #333;
}
.close-features {
  color: #f2a200;
}
/* 表單原生造型改變 */

select {
  outline: none;
  border: 1px solid #f2a200;
}
input {
  outline: none;
  /* outline: 1px solid #f2a200; */
}
input:focus {
  border: 2px solid #f2a200;
  border-radius: 4px;
  /* outline: 1px solid #f2a200; */
}
/* 表單原生造型改變 */
/* hover */
a {
  transition: 0.5s;
}
a:hover {
  opacity: 0.6;
  color: #f2a200;
}
.change-color-yel span:hover {
  opacity: 0.6;
}

/* button */
.btn-leave {
  width: 130px;
  line-height: 40px;
  color: #004a13;
  border: 1px solid #004a13;
  margin: 60px 20px 120px 20px;
  transition: 0.5s;
}
.btn-leave:hover {
  opacity: 0.6;
  color: #004a13;
}
.hope-next-step {
  background-color: #004a13;
  color: #fffefc;
}
.hope-next-step:hover {
  color: #fffefc;
}
@media (max-width: 576px) {
  .order_step_title {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  #order_s_1,
  #order_s_2,
  #order_s_4 {
    display: none;
  }
  .order_step_number p {
    font-size: 16px;
  }
  .thermometer_container {
    margin: 0 auto;
    width: 300px;
  }
  /* 上面溫度計 */

  .this-one-mobile-none {
    display: none;
  }
  .this-one-pc-none {
    display: block;
  }
  .change-his-padding-in-mobile {
    padding: 0;
  }
  .i-need-padding {
    padding-right: 0px;
    padding: 0 16px;
  }
  .i-need-w-and-fix {
    width: 100%;
  }

  /* form control */
  .form-control6 {
    width: 100%;
  }
  .form-control9 {
    width: 100%;
  }
  .form-control8 {
    visibility: hidden;
  }

  /* 商品明細 */
  .order-detail1 {
    padding: 0 16px;
  }
  .title-in-table a {
    visibility: hidden;
  }
  .howmuch-you-need-pay tbody tr:last-child {
    visibility: visible;
  }

  /* button */
  .btn-leave {
    width: 130px;
    line-height: 40px;
    margin: 0px 10px;
  }
}
