body {
  background-color: #fffefc;
  background-image: url(../img/step123needpic/finish-order.png);
  background-repeat: no-repeat;
  height: 900px;
  background-position: center;
}
.nav-place-zone {
  width: 100%;
  height: 120px;
  /* border-bottom: 1px solid #004a13; */
  /* background: rgba(255, 254, 252, 0.8); */
}

.tag-page {
  margin-top: 5rem;
}
.login-btn,
.regist-btn {
  width: 33%;
  border: 2px solid #004a13;
  border-radius: 4px 0px 0px 0px;
  border-bottom: none;
  margin: 0;
  background-color: #fffefc;
  font-size: 24px;
  line-height: 55px;
  color: #004a13;
  cursor: pointer;
  /* transition: 0.5s; */
}

.login-btn {
  border-right: none;
}
.regist-btn {
  margin-right: -6px;
  border-radius: 0px 4px 0px 0px;
  border-left: none;
}

/* hover */
.just-a-vertcal-dividerline {
  height: 56.5px;
  width: 2px;
  background-color: #004a13;
  z-index: 2;
}
.daddy-floor {
  width: 100%;
  height: 462px;
  margin-bottom: 120px;
}
.login-floor,
.regist-floor {
  border: 2px solid #004a13;
  border-radius: 0px 4px 4px 4px;
  width: 100%;
  top: -2.5px;
  height: 462px;
  padding: 60px 0;
  background-color: #fffefc;
  color: #333;
  z-index: 1;
}

.form-control1,
.form-control2 {
  border: 1px solid #333;
  border-radius: 4px;
  width: 100%;
  height: 32px;
  /* margin-bottom: px; */
}

.form-control1,
.form-control2 {
  margin-bottom: 18px;
}
.space-b36 {
  margin-bottom: 36px;
}
.space-b20 {
  margin-bottom: 20px;
}
.space-b60 {
  margin-bottom: 60px;
}

/* 暫代認證碼 */
.open-sesame {
  border: 1px solid #333;
  border-radius: 4px;
  height: 32px;
  width: 40%;
}

#imgcode {
  height: 60px;
  width: 120px;
}

body {
  background-image: url(../img/step123needpic/finish-order.png);
  background-repeat: no-repeat;
  height: 900px;
  background-position: center bottom;
}
.btn_f:hover {
  color: #fffefc;
}

/* 套用class */
.display-none {
  display: none;
}
.color-change-gray-right {
  border: 2px solid #848484;
  color: #848484;
  font-weight: 300;
  border-left: none;
}
.color-change-gray-left {
  border: 2px solid #848484;
  color: #848484;
  font-weight: 300;
  border-right: none;
}
.click-btn {
  z-index: 3;
}

/* label 大小*/
label{
  width: 100%;
}

/* a color */
a{
  color: #DB5C00;
}

 /* 記住帳密位置 */
.form-group{
  margin-bottom: 30px;
}

.form-regis {
  margin-top: 62px;
}
/* rwd */
@media (max-width: 576px) {
  .login-floor,
  .regist-floor {
    top: -3px;
    height: 430px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .login-btn,
  .regist-btn {
    width: 33%;
    font-size: 16px;
    line-height: 32px;
  }
  .daddy-floor {
    margin-bottom: 60px;
  }
  .need-bck-img {
    background-size: contain;
    background-position: center;
  }
  .just-a-vertcal-dividerline {
    height: 33px;
    width: 2px;
  }
}
