body,
html {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Noto Sans TC", sans-serif;
  background-color: #fffefc;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  line-height: 30px;
  font-size: 1rem;
}

/* 間距↓↓ */
.space_30 {
  width: 100%;
  height: 30px;
}
.space_60 {
  width: 100%;
  height: 60px;
}
.space_120 {
  width: 100%;
  height: 120px;
}
/* 間距↑↑ */

a {
  transition: 0.5s;
}
a:hover {
  opacity: 0.6;
}
/* 綠底按鈕↓↓ */
.btn_f {
  background-color: #004a13;
  font-weight: 400;
  color: #fffefc;
  width: 108px;
  height: 38px;
  border: none;
  border-radius: 4px;
  transition: 0.5s;
}

.btn_f:hover {
  opacity: 0.6;
}
/* 綠底按鈕↑↑ */

/* 線按鈕↓↓ */
.btn_l {
  background-color: transparent;
  font-weight: 400;
  color: #004a13;
  width: 108px;
  height: 38px;
  border: 2px solid #004a13;
  border-radius: 4px;
  transition: 0.5s;
}
.btn_l:hover {
  opacity: 0.6;
}
/* 線按鈕↑↑ */

/* 彈跳視窗↓↓ */
/* #exampleModal {
} */
.modal-dialog {
  border-radius: 4px;
}
.close {
  opacity: 1;
}
.modal-header {
  border-bottom: 0;
}
button:focus {
  outline: 1px #fffefc;
}
.modal-footer {
  border-top: 0;
}
.modal-content {
  border: 2px solid #004a13;
  border-radius: 4px;
  width: 100%;
  background: #fffefc;
  opacity: 1;
}
/* 彈跳視窗↑↑ */

/* 表單原生造型改變↓↓ */
input {
  outline: none;
}
input:focus {
  border: 2px solid #f2a200;
  border-radius: 4px;
}
/* 表單原生造型改變↑↑ */
