:root {
    --animate-duration: 2s;
    
    }

.hero{
    height: 100vh;
    background: url(./../img/test/test-background.png) center;
    background-size: cover;
    padding: 0;
    overflow: hidden;
}
.img-scope{
    overflow: hidden;
    height: 90%;

}

.delete{
    width: 100%;
    height: 38vh;
}

.close {
margin: 1.875rem 1.875rem 0 0;

/* margin: -1rem -1rem -1rem auto; */
}

.content{
    top: 33%;
    left: 50%;
    transform:translate(-50%,0);
    width: 450px;
    text-align: center;
    z-index: 1000;
}

h2{
    color:#FFFEFC;
}

.last-sec-thermo::before{
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: -4.6px;
    left: -4px;
    background: #FFFEFC;

}

.last-sec-thermo{

    /* width: 100%; */
    height: 6px;
    background: #FFFEFC;
}

.animation{
    left: 140px;
    top: 50px;
    z-index: 1;
}


.animation img{
    width: 1200px;
    height: 1200px;
    animation: rotate 10s linear infinite;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }
    to{
        transform: rotate(-360deg);
        transform-origin: 50% 50%;
    }
}

.test-btn{
    background: #FDEBCA;
    color: #004A13;
    width: 155px;
    transition: 0.5s;
}

.test-btn:hover{
  opacity: .6!important;
  background: #FDEBCA;
  color: #004A13!important;
  transition: 0.5s;
  
    
}

.text{
    color: #FFFEFC;
    font-size: 16px;
    width: 272px;
    margin: 2.75rem 0 7.125rem 0;
}

.logo{
    bottom:32px; 
    left: 36px;
}
/* -----------手機版--------------- */
@media screen and (max-width:992px){
.close{
        position: absolute;
        top:20px;
        left:20px;
        margin: 0;
        

    }
    .close svg{
        width: 30px;
        height: 30px;
    }

    .last-sec-thermo{
      margin-left: 5rem!important;
    }
    h2{
      font-size: 40px;
    }
    .text{
      margin-bottom: 52px;
    }
    .logo{
      top:120px;
      left: 50%;
      transform: translate(-50%,0);
    }
    .animation img{
      height: 600px;
      width: 600px;
    }
    .img-scope{
      height: 100%;
    }
  }